// HEADER HOMEPAGE + PHOTOGRAPHER PAGE
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    &--home{
        width: 45%;
        img{
            width: 100%;
        }
    }
    &--filters{
        width: 100%;
        order: 3;
        margin-top: 1rem;
        &__select{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: center;
            &--redirect{
                text-decoration: none;
                &__filter{
                    color: $color-text;
                    border: 1px solid $color-border-filters;
                    padding: 3px 10px;
                    border-radius: 20px;
                    margin: 5px;
                }
            }
        }
    }
    &--title{
        width: 45%;
        font-size: 20px;
        color: $color-text;
        text-align: right;
    }
}