// MAIN HOMEPAGE
.firstAuthor{
    width: 100%;
    article{
        width: 80%;
        margin: 2rem auto;
        text-align: center;
        a{
            text-decoration: none;
            img{
                width: 13rem;
                height: 13rem;
                border-radius: 50%;
                object-fit: cover;
            }
            .author--name{
                text-align: center;
                color: $color-name;
                margin: 1rem 0;
            }
            .author--loca{
                text-align: center;
                color: $color-text;
                margin-bottom: 5px;
            }
            .author--description{
                text-align: center;
                color: black;
                font-size: 14px;
                margin-bottom: 5px;
            }
            .author--price{
                text-align: center;
                color: grey;
                font-size: 17px;
                margin-bottom: 10px;
            }
            .author--filters{
                display: flex;
                list-style: none;
                justify-content: center;
                li{
                    color: $color-text;
                    border: 1px solid $color-border-filters;
                    border-radius: 20px;
                    padding: 3px 10px;
                    margin: 0 5px;
                    font-weight: bold;
                }
            }
        }
    }
}

// MAIN PHOTOGRAPHER PAGE
.main{
    padding: 1rem;
    &--btn{
        padding: 10px 35px;
        border-radius: 5px;
        border: none;
        background-color: $color-text;
        color: white;
        font-weight: bold;
        position: fixed;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
    }
    &--article{
        margin-bottom: 1rem;
        &__redirect{
            img{
                width: 100%;
                height: 20rem;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        &__description{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--title{
                color: $color-text;
                font-weight: inherit;
            }
            &--like{
                color: $color-text;
                font-weight: bold;
            }
        }
    }
}