@media screen and (min-width: $width-tablet) {
    // HEADER HOMEPAGE
    .header{
        padding: 3rem;
        &--home{
            width: 25%;
        }
    }
    // BODY PHOTOGRAPHER PAGE
    .main{
        padding: 3rem;
        &--presentation{
            padding: 1.5rem;
        }
        &--select{
            display: flex;
            width: 100%;
            margin-bottom: 4rem;
            h3{
                margin-right: 2rem;
            }
            select{
                .barre{
                    border: 1px solid black;
                }
            }
        }
        &--modal{
            width: 80%;
            left: 10%;
        }
    }
}
@media screen and (min-width: $width-laptop) {
    // HEADER HOMEPAGE
    .header{
        margin: 0 3rem;
        justify-content: space-between;
        &--home{
            width: 20%;
        }
        &--title{
            width: 25%;
        }
    }
    .header-photographer{
        margin: 0!important;
    }
    // BODY HOMEPAGE
    .authors{
        display: flex;
        flex-wrap: wrap;
        &--article{
            width: 45%;
        }
    }
    // BODY PHOTOGRAPHER PAGE 
    .main{
        display: flex;
        flex-wrap: wrap;
        &--presentation{
            padding: 2.5rem;
            &__article{
                align-items: center;
                &--photograph{
                    width: 30%;
                }
                &--btn{
                    position: inherit;
                    padding: 25px;
                    transform: inherit;
                }
                img{
                    width: 200px;
                    height: 200px;
                }
            }
        }
        &--medias{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__article{
                width: 45%;
            }
        }
        &--totalLike{
            width: 28%;
            display: flex;
            justify-content: space-between;
            position: fixed;
            bottom: 0;
            background-color: $color-bg-like;
            padding: 2rem;
            border-radius: 10px;
            right: 3rem;
        }
        &--form{
            width: 80%;
            left: 10%;
        }
    }
}
@media screen and (min-width: $width-desk) {
    // HEADER HOMEPAGE 
    .header{
        margin: 0 6rem;
        &--home{
            width: 15%;
        }
        &--title{
            width: 20%;
        }
    }
    // BODY HOMEPAGE
    .authors{
        &--article{
            width: 30%;
        }
    }
    // BODY PHOTOGRAPHER PAGE
    .main--medias{
        &__article{
            width: 30%;
        }
    }
    .main--form{
        width: 50%;
        left: 25%;
    }
    .main--form__send{
        padding: 1rem 3rem;
    }
}
@media screen and (min-width: 1441px){
    .main, .header-photographer{
        padding: 3rem 13rem;
        &--form{
            width: 40%;
            left: 30%;
        }
    }
    .main--modal{
        width: 60%;
        height: auto;
        left: 20%;
        }
}
