@media screen and (min-width: $width-tablet) {
    // HEADER HOMEPAGE
    .header{
        padding: 3rem;
        &--home{
            width: 25%;
        }
    }
    // BODY PHOTOGRAPHER PAGE
    .main{
        padding: 3rem;
        &--select{
            display: flex;
            width: 100%;
            margin-bottom: 4rem;
            h3{
                margin-right: 2rem;
            }
            select{
                .barre{
                    border: 1px solid black;
                }
            }
        }
    }
}
@media screen and (min-width: $width-laptop) {
    // HEADER HOMEPAGE
    .header{
        justify-content: space-between;
        &--home{
            width: 20%;
        }
        &--title{
            width: 20%;
        }
    }
    // BODY HOMEPAGE
    .authors{
        display: flex;
        flex-wrap: wrap;
        &--article{
            width: 45%;
        }
    }
    // BODY PHOTOGRAPHER PAGE 
    .main{
        display: flex;
        flex-wrap: wrap;
        &--presentation{
            &__article{
                align-items: center;
                &--photograph{
                    width: 30%;
                }
                &--btn{
                    position: absolute;
                    padding: 25px 25px;
                    bottom: inherit;
                    left: 35%;
                    transform: inherit;
                    top: 15rem;
                }
                img{
                    width: 200px;
                    height: 200px;
                }
            }
        }
        &--medias{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__article{
                width: 45%;
            }
        }
        &--totalLike{
            width: 28%;
            display: flex;
            justify-content: space-between;
            position: fixed;
            bottom: 0;
            background-color: $color-bg-like;
            padding: 2rem;
            border-radius: 10px;
            right: 3rem;
        }
    }
}
@media screen and (min-width: $width-desk) {
    // HEADER HOMEPAGE 
    .header{
        &--home{
            width: 15%;
        }
        &--title{
            width: 15%;
        }
    }
    // BODY HOMEPAGE
    .authors{
        &--article{
            width: 30%;
        }
    }
    // BODY PHOTOGRAPHER PAGE
    .main--medias{
        &__article{
            width: 30%;
        }
    }
}