@media screen and (min-width: $width-tablet) {
    // HEADER HOMEPAGE
    .header{
        padding: 3rem;
        &--home{
            width: 25%;
        }
    }
    // BODY PHOTOGRAPHER PAGE
    .main{
        padding: 3rem;
        &--select{
            display: block;
            width: 100%;
            margin-bottom: 4rem;
        }
    }
}
@media screen and (min-width: $width-laptop) {
    // HEADER HOMEPAGE
    .header{
        justify-content: space-between;
        &--home{
            width: 20%;
        }
        &--filters{
            order: inherit;
            width: 50%;
            &__select{
                margin-top: 1rem;
            }
        }
        &--title{
            width: 20%;
        }
    }
    // BODY HOMEPAGE
    .firstAuthor{
        display: flex;
        flex-wrap: wrap;
        article{
            width: 45%;
        }
    }
    // BODY PHOTOGRAPHER PAGE 
    .main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &--presentation{
            &__article{
                align-items: center;
                &--photograph{
                    width: 30%;
                }
                &--btn{
                    position: absolute;
                    padding: 25px 25px;
                    bottom: inherit;
                    left: 35%;
                    transform: inherit;
                    top: 15rem;
                }
                img{
                    width: 200px;
                    height: 200px;
                }
            }
        }
        &--article{
            width: 45%;
        }
        &--totalLike{
            width: 28%;
            display: flex;
            justify-content: space-between;
            position: fixed;
            bottom: 0;
            background-color: $color-bg-like;
            padding: 2rem;
            border-radius: 10px;
            right: 3rem;
        }
    }
}
@media screen and (min-width: $width-desk) {
    // HEADER HOMEPAGE 
    .header{
        &--home{
            width: 15%;
        }
        &--filters{
            width: 65%;
            margin-top: 0;
            &__select{
                margin-top: 0;
            }
        }
        &--title{
            width: 15%;
        }
    }
    // BODY HOMEPAGE
    .firstAuthor{
        article{
            width: 30%;
        }
    }
    // BODY PHOTOGRAPHER PAGE
    .main{
        &--article{
            width: 30%;
        }
    }
}